.BuildControls {
    /*position: relative;*/
    width: 50%;
    height: 200px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    background-color: #c45e38;
    align-items: center;
    cursor: pointer;
    outline: none;
    box-shadow: 0 10px 10px #c15711;
}

.Price {
   margin-left: 70%;
    margin-top: -20px ;
    color: white;
    font-size: 25px;
}