.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    font-weight: bold;
    width: 120px;
    display: inline-block;
    text-align: center;
}

.Button:first-of-type {
    margin-left: 0;
    /*padding-left: 0;*/
}

.Button:disabled {
    color: #ccc;
    cursor: not-allowed;
}

.Success {
    color: #5C9210;
}

.Danger {
    border: 1px solid red;
    color: red;
    border-radius: 3px;
}

.Danger:hover {
    /*border: 1px solid red;*/
    background-color: red;
    color: white;
    border-radius: 3px;
}

.Info {
    border: 1px solid dodgerblue;
    color: dodgerblue;
    border-radius: 3px;
}

.Info:hover {
    background-color: dodgerblue;
    color: white;;
}
@media (max-width: 500px) {
    .Button{
        margin: 10px 0;
    }
}