.ContactData {
    border: 1px solid #ccc;
    width: 80%;
    box-shadow: 0 2px 3px #aaa;
    margin: 50px auto;
    text-align: center;
    padding: 20px;
}

.Input {
    display: block;
}

@media (min-width: 600px) {
    .ContactData {
        width: 500px;
    }
}