.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.InputElement {
    width: 100%;
    padding: 6px 10px;
    box-sizing: border-box;
    display: block;
    border: 1px solid #ccc;
}

.InputElement:focus {
    background-color: #ccc;
    border: 3px solid #ccc;
    outline: none;
}

.Invalid {
    background-color: #fa8f80;
    border: 1px solid red;
}

.ValidationError {
    color: red;
    margin: 5px 0;
}